.guess {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.guess.current,
.guess.gibberish,
.guess.correct {
	margin: 20px 0;
	padding: 10px;
}

.guess.current {
    border: 2px solid #d3d6da;
}

.guess.gibberish {
    border: 2px solid #787c7e;
}

.guess.correct {
    border: 2px solid #6aaa64;
}

.guess.candidate-answer,
.guess.guess.candidate-guess {
	margin: 5px 0;
	border-radius: 0;
}

.guess.candidate-answer {
	background-color: #6aaa64;
}

.guess.guess.candidate-guess {
    background-color: #d3d6da;
}
