.selector {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #d3d6da;
	border-radius: 3px;
}

.selector .selector-option {
	flex: 1 1 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
	border-radius: 2px;
	font-size: 12px;
	cursor: pointer;
}

.selector .selector-option:hover,
.selector .selector-option.selected {
	border-color: #d3d6da;
}

.selector .selector-option.selected {
	pointer-events: none;
}
